.custom-btn {
    width: 100px;;
    height: 40px;
    color: #f8fafc;
    border-radius: 20px;
    padding: 10px 25px;
    font-family: raleway-semibold;
    background: #BA4F7D;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    line-height: 42px;
    padding: 0;
    border: none;
    &:hover{
        background-color: 0 0% 100%
      }
    span{
        margin-left: 8px;
    }
    
  }