$color1:teal;
.container {
	overflow: hidden;
  width:100%;
  margin:0px;
	/* we don't want the pseudo-elements sticking out */
}
section {
	position: relative;
	padding: 10em ;
	background: $color1;
	color: #fff;
	text-align: center;
}


.ss-style-doublediagonal {
	z-index: 1;
	padding-top: 6em;
	background: darken($color1, 11%);
}

.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
	height: 50%;
	background: darken($color1, 15%);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
}

$color1:teal;