.navigation-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 20px;
    right: 20px;
    @media (min-width: 320px) and (max-width: 768px) {
        left:0;
    }
    &-wrapper{
        display: flex;
        flex-direction: row;
        @media (min-width: 320px) and (max-width: 768px) {
            flex-direction: column;
            position: fixed;
            right: 35px;
            top: 20px;
            align-items: end;
            visibility: hidden;
            opacity: 0; 
            transition: opacity 0.3s ease-in-out;
        }
        &.is-open {
            visibility: visible; 
            opacity: 1;
        }
        &_link{
            display: flex;
            @media (min-width: 320px) and (max-width: 768px) {
                display: block;
                padding: 0.3rem;
                font-size: 0.8em;

            }
            a{
                text-decoration: none;
                color: #faf4f4;
                padding: 10px;
                font-family: Raleway-semibold;
            }
        }
    }
    &-logo{
        height: 100px;
        width: auto;
    }
    &-burger{
        display: none;
        @media (min-width: 320px) and (max-width: 768px) {
            display: block;
            background: transparent;
            border: none;
            margin-top: -30px;
            svg{
                height: 20px;
            }
        }
    }
}