.skills-section{
  background: #224466;
  color: #f8fafc;
  &-container{
      min-width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;    
      padding: 20px;  
      &-title { 
        margin: 1rem;
      }
    &-scroll {
      position: relative;
      display: flex;
      padding: 30px 0;
      overflow: hidden;
      white-space: nowrap; 
      max-width: 800px;
      -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
      mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
      margin: 1rem;
      @media (min-width: 320px) and (max-width: 425px) {
        max-width: 200px;
        max-height: 300px;
        mask-image: linear-gradient(180deg, transparent, #fff 20%, #fff 80%, transparent);
      }
      &-img {
        display: inline-block;
        animation: 10s fil infinite linear;
        @media (min-width: 320px) and (max-width: 425px) {
          display: flex;
          flex-direction: column;
          animation: 10s filmobile infinite linear
        }
      }
      &-picto{
        scale: 0.8;
        margin: 0 40px;
      }
    }
  }
}
@keyframes fil {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-100%);
  }
}

@keyframes filmobile{
  from {
    transform: translateY(0%);
}
to {
    transform: translateY(-100%);
}
}
