.about-section{
    background: #f8fafc;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    &-container{
        flex-wrap: wrap-reverse;
        justify-content: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        column-gap: 60px;
        &-description{
            color: black;
            font-family: raleway;
            display: flex;
            flex-direction: column;  
            height: 100%;
            width: 50%; 
            @media (min-width: 320px) and (max-width: 768px) {
                width: 100%;
            }     
            &-title,&-content{
                margin: 1rem;
            }
            @media( min-width: 320px) and (max-width: 768px){
                &-title{
                    text-align: center;
                }
            }
            &-content{
                line-height: 1.6;
                text-align: justify;
            }
            &-iconContainer{
                display: flex;
                margin: 1rem;
                flex-direction: row;
                align-items: center;
                justify-content: end;
                gap: 20px;
                @media (min-width: 320px) and (max-width: 768px) {
                    justify-content: space-around;
                }
                img{
                    width: 60px;
                    height: auto;
                }
            }
        }
        &-image{
            display: flex;
            align-items: center;
            justify-content: center;        
            &_size{
                height: 300px;
                object-fit: cover;
                border-radius: 166px;
                @media (min-width: 320px) and (max-width: 768px) {
                    height: 120px;
                    width: auto;
                }
            }
        }
    }
}

