/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Banner/_Banner.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.banner-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-image: url(/assets/img/banner-montagne.jpg);
  background-size: cover;
  background-position: bottom;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 768px) {
  .banner-container {
    align-items: center;
  }
}
.banner-container-title {
  position: absolute;
  text-align: center;
  background: linear-gradient(to right, #f1f1f1, #f1f1f1, #f1f1f1, #f1f1f1, rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: h1anim 3s linear forwards;
  background-size: 500% auto;
  display: inline-block;
  background-position: 150% center;
  background-repeat: no-repeat;
  margin: 2rem;
  font-family: Raleway;
}
@media (min-width: 320px) and (max-width: 768px) {
  .banner-container-title {
    font-size: 0.75em;
    text-align: center;
  }
}
@keyframes h1anim {
  from {
    background-position: 150% center;
  }
  to {
    background-position: 0 center;
  }
}
.banner-container-scroll-downs {
  position: absolute;
  bottom: 5%;
  margin: auto;
}
.banner-container-scroll-downs-mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.banner-container-scroll-downs-mousey-scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@media (min-width: 320px) and (max-width: 768px) {
  .banner-container-scroll-downs-mousey-scroller {
    height: 30px;
    width: 0;
  }
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(15px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(60%);
    opacity: 0;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Button/_Button.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.custom-btn {
  color: #651F3F;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: raleway-semibold;
  background: #EEC8D9;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
}
.custom-btn:hover {
  background-color: 0 0% 100%;
}
.custom-btn svg {
  margin-left: 8px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/About/_About.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.about-section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-section-container {
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  column-gap: 60px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  .about-section-container {
    justify-content: center;
  }
}
.about-section-container-description {
  color: black;
  font-family: raleway;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .about-section-container-description {
    width: 100%;
  }
}
.about-section-container-description-title {
  margin: 1rem;
  text-align: left;
}
@media (min-width: 320px) and (max-width: 768px) {
  .about-section-container-description-title {
    text-align: center;
  }
}
.about-section-container-description-content {
  margin: 1rem;
  line-height: 1.6;
  text-align: left;
}
.about-section-container-description-iconContainer {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .about-section-container-description-iconContainer {
    justify-content: space-around;
  }
}
.about-section-container-description-iconContainer img {
  width: 30px;
  height: auto;
}
.about-section-container-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section-container-image_size {
  height: 300px;
  object-fit: cover;
  border-radius: 166px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .about-section-container-image_size {
    height: 120px;
    width: auto;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Footer/_Footer.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer-section {
  background: #f8fafc;
  position: relative;
  background: #F0EAF0;
}
.footer-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-section-container-logo {
  height: 150px;
  width: auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  .footer-section-container-logo {
    height: 100px;
  }
}
.footer-section-container-toTop {
  right: 2%;
  background: #EEC8D9;
  position: absolute;
  border-radius: 50%;
  padding: 20px;
  font-family: "Raleway-bold";
  color: #651F3F;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Form/_Form.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.section-contact {
  font-family: raleway;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  position: relative;
}
.section-contact h3 {
  color: #f9f9f9;
  margin: 1rem;
  text-align: center;
}
.section-contact_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  column-gap: 10rem;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}
.section-contact_container-form {
  display: flex;
  flex-direction: column;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 35%;
  padding: 20px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .section-contact_container-form {
    width: 100%;
  }
}
.section-contact_container-form-wrapper {
  display: flex;
  flex-direction: column;
}
.section-contact_container-form-wrapper-group {
  margin-bottom: 15px;
}
.section-contact_container-form-wrapper-group label {
  display: block;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #651F3F;
}
.section-contact_container-form-wrapper-group input, .section-contact_container-form-wrapper-group textarea {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #EEC8D9;
  border-radius: 5px;
  background-color: #fff;
  color: #E5E7EB;
}
.section-contact_container-form button {
  align-self: center;
}
.section-contact_container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-contact_container-info p {
  text-align: left;
  margin: 1.5rem 0;
  background: #f9f9f9;
  color: #651F3F;
  padding: 1rem;
  border-radius: 5px;
}
.section-contact .alert-success {
  color: #FFFFFF;
  font-family: "Raleway";
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  background: #d9eee1;
  margin-top: 20px;
}
.section-contact .alert-error {
  color: #FFFFFF;
  font-family: "Raleway";
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  background: #A13F12;
  margin-top: 20px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Gallery/_Gallery.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.section-project {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  position: relative;
}
@media (min-width: 320px) and (max-width: 768px) {
  .section-project {
    align-items: center;
  }
}
.section-project h2 {
  margin: 1rem;
}
.section-project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  .section-project-gallery {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.section-project-gallery-container {
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (min-width: 320px) and (max-width: 768px) {
  .section-project-gallery-container {
    width: 90%;
  }
}
.section-project-gallery-container-detail {
  align-items: center;
  background-color: #F0EAF0;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 0.5s;
  opacity: 0;
  font-family: raleway;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.section-project-gallery-container-detail:hover {
  visibility: visible;
  opacity: 1;
  transform: scale(1.07);
  line-height: 1.6;
}
.section-project-gallery-container-detail-title {
  font-size: larger;
  font-weight: bold;
}
.section-project-gallery-container-detail-context {
  font-style: italic;
  color: grey;
  margin-bottom: 1rem;
}
.section-project-gallery-container-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.section-project-gallery-container-text {
  background: rgba(248, 250, 252, 0.8901960784);
  padding: 20px;
  margin-top: -13px;
}
.section-project-gallery-container span {
  color: #090f21;
  font-family: raleway-bold;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Modal/_Modal.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.section-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 57, 57, 0.57);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
  font-family: raleway;
}
.section-modal-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 320px) and (max-width: 768px) {
  .section-modal-container {
    margin: 1rem;
  }
}
.section-modal-container-close {
  position: absolute;
  top: 10px;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}
.section-modal-container-cover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.2);
}
.section-modal-container-cover-container-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.section-modal-container-title {
  font-family: raleway-bold;
}
.section-modal-container-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  flex-wrap: wrap;
}
.section-modal-container-list-items {
  background: #EEC8D9;
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
  color: #651F3F;
  font-weight: bold;
}
.section-modal-container-link {
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.section-modal-container-link a {
  text-decoration: underline;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Header/_Header.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header-container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  .header-container {
    align-items: center;
  }
}
.header-container-wrapper_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.header-container-wrapper_banner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container-wrapper_banner-container-title {
  position: absolute;
  text-align: center;
  background: linear-gradient(to right, #f1f1f1, #f1f1f1, #f1f1f1, #f1f1f1, rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: h1anim 3s linear forwards;
  background-size: 500% auto;
  display: inline-block;
  background-position: 150% center;
  background-repeat: no-repeat;
  margin: 2rem;
  font-family: Raleway;
}
@media (min-width: 320px) and (max-width: 768px) {
  .header-container-wrapper_banner-container-title {
    font-size: 0.75em;
    text-align: center;
  }
}
@keyframes h1anim {
  from {
    background-position: 150% center;
  }
  to {
    background-position: 0 center;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/NavBar/_NavBar.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navigation-section {
  background: rgba(71, 71, 71, 0.2392156863);
  padding: 0 2rem;
}
@media (min-width: 320px) and (max-width: 768px) {
  .navigation-section {
    padding: inherit;
  }
}
.navigation-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
}
@media (min-width: 320px) and (max-width: 768px) {
  .navigation-section-container {
    left: 0;
    background: rgb(198, 161, 212);
  }
}
.navigation-section-container-nav-wrapper {
  display: flex;
  flex-direction: row;
}
@media (min-width: 320px) and (max-width: 768px) {
  .navigation-section-container-nav-wrapper {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 6.25rem;
    align-items: end;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
.navigation-section-container-nav-wrapper.is-open {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .navigation-section-container-nav-wrapper.is-open {
    background: rgb(198, 161, 212);
    height: 45vh;
  }
}
.navigation-section-container-nav-wrapper_link {
  display: flex;
}
@media (min-width: 320px) and (max-width: 768px) {
  .navigation-section-container-nav-wrapper_link {
    display: block;
    padding: 0.3rem;
    font-size: 1rem;
  }
}
.navigation-section-container-nav-wrapper_link a {
  color: #faf4f4;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-family: Raleway-semibold;
}
.navigation-section-container-nav-wrapper_link a-contact:hover {
  transform: scale(1.5);
}
.navigation-section-container-nav-wrapper_link a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navigation-section-container-nav-wrapper_link a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  .navigation-section-container-nav-wrapper_link ul {
    margin-top: 40px;
  }
}
.navigation-section-container-logo {
  height: 100px;
  width: auto;
  padding: 1rem;
}
.navigation-section-container-burger {
  display: none;
}
@media (min-width: 320px) and (max-width: 768px) {
  .navigation-section-container-burger {
    display: block;
    background: transparent;
    border: none;
    margin-top: -10px;
    padding: 1rem;
  }
  .navigation-section-container-burger svg {
    height: 25px;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Skills/_Skills.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.skills-section {
  color: #651F3F;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 5rem;
}
.skills-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
}
.skills-section-container-title {
  margin: 1rem;
}
.skills-section-container-scroll {
  position: relative;
  display: flex;
  padding: 30px 0;
  overflow: hidden;
  white-space: nowrap;
  max-width: 800px;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  margin: 1rem;
}
@media (min-width: 320px) and (max-width: 425px) {
  .skills-section-container-scroll {
    display: none;
  }
}
.skills-section-container-scroll-img {
  display: inline-block;
  animation: 10s fil infinite linear;
}
@media (min-width: 320px) and (max-width: 425px) {
  .skills-section-container-scroll-img {
    display: flex;
    flex-direction: column;
    animation: 10s filmobile infinite linear;
  }
}
.skills-section-container-scroll-picto {
  scale: 0.8;
  margin: 0 40px;
}
.skills-section-container-list {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 60px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}
@media (min-width: 320px) and (max-width: 425px) {
  .skills-section-container-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.skills-section-container-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 425px) {
  .skills-section-container-list ul {
    display: block;
  }
}
.skills-section-container-list ul li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: raleway;
}
@media (min-width: 320px) and (max-width: 425px) {
  .skills-section-container-list ul li {
    width: inherit;
    font-size: 0.75rem;
  }
}
.skills-section-container-list-skill {
  display: flex;
  flex-direction: column;
  background: #F0EAF0;
  border-radius: 15px;
  padding: 2rem;
  line-height: 1.5rem;
  width: 40%;
}
@media (min-width: 320px) and (max-width: 425px) {
  .skills-section-container-list-skill {
    width: 90%;
  }
}
.skills-section-container-list-skill h3 {
  align-self: center;
  font-family: raleway-bold;
  padding-bottom: 1rem;
}

@keyframes fil {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes filmobile {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Separator/_Separator.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.line {
  width: 100%;
  height: 3rem;
  object-fit: fill;
  box-shadow: 0px 0 10px 4px #F7F7F7;
  position: relative;
}

.separator-section {
  position: relative;
}
.separator-section-skewedLeft {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 66px;
  background: #F0EAF0;
  z-index: 0;
  transform: skewY(2deg);
  transform-origin: top right;
}
.separator-section-skewedRight {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 66px;
  background: #F0EAF0;
  z-index: 0;
  transform: skewY(-2deg);
  transform-origin: bottom left;
}
